*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
  
:root{
    --myoo-mini-plus-theme:#E1E5E7;
    --dark-main-color:#0e0f19;
    --contrast-buttons:#4F1787;
}

html{
    background-color:#393E46;
}

.mainDiv{}

/* The console emulator */
.device{}

/* Screen area */
.deviceScreenWrapper{}

.deviceScreen{}

/* Input area */
.deviceInputWrapper{}

.buttonsDiv{}

/* Answer buttons area */
.buttonsCluster{}

.buttonsCluster button{}
